<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring boot集成 Thymeleaf</title>
</head>
<body>
    <p th:text="${name}">Spring boot集成 Thymeleaf</p>
    <!-- 获取对象中的数据 -->
    <table>
        <tr>
            <td th:text="${user.id}">1</td>
            <td th:text="${user.name}">A</td>
        </tr>
    </table>
    <!--选择变量表达式-->
    <table>
        <tr th:object="${user}">
            <td th:text="*{id}">1</td>
            <td th:text="*{name}">A</td>
        </tr>
    </table>
    <!--url表达式-->
    <a href="info.html" th:href="@{/user/info(id=${user.id})}">参数拼接</a>
    <a href="info.html" th:href="@{/user/info(id=${user.id}, name=${user.name})}">多参数拼接</a>
    <a href="info.html" th:href="@{/user/info/{id}/{name}(id=${user.id}, name=${user.name})}">restful风格1</a>
    <a href="info.html" th:href="@{/user/info/{id}/abc(id=${user.id})}">restful风格2</a>
    <!--字符串的拼接-->
    <br><span th:text="'当前第'+${page}+'页, 共'+${page}+'页'"/>
    <br><span th:text="|当前第${page}页, 共${page}页|"/>
    <!-- 内置对象-->
    <div th:text="${#request.getContextPath()}"></div>
    <div th:text="${#session.getAttribute('phone')}"></div>
    <div th:text="${#dates.format(myDate, 'yyyy-MM-dd')}"></div>
</body>
</html>