<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.harry.dao.CourseDao">
   <resultMap id="courseMapper" type="course">
       <id column="cid" property="id"/>
       <result column="cname" property="name"/>
       <collection property="students" ofType="student">
           <id column="sid" property="id"/>
           <result column="sname" property="name"/>
       </collection>
   </resultMap> 
  <select id="selectCourseStudent" resultMap="courseMapper">
      select c.id cid,c.name cname,s.id sid,s.name sname
      from t_course c,t_student s,t_student_course sc
      where
        c.id=#{id}
        and s.id=sc.sid
        and c.id=sc.cid

  </select>

</mapper>